@charset "utf-8";
/* CSS Document */


.topupper{
		width:1024px;
		height:32px;
		background-color: #000;
		font-size:16px ; 
		font-family:arial;
		margin:0px auto; 
		padding:0px; 
		color:#CCC;
		font-size:15px;
		font-weight:bold;
		}
		
	.topupper a
	{ 
	color:#999;
	text-decoration:none;
	margin-left:220px;
	
	}	
	
	.topupper a:hover
	{ 
	color:#fff;
	 
	}
	
	#searchsuggestion{

		display:none;
		background:#fff;
		position:absolute;
		top:31px;
		height:auto;
		width:238px;
		text-align:left;
	    border:solid 1px #CCC;	
		color:#000;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		cursor:pointer;
		
	}

	#searchsuggestion table
	{
		width:100%;  
	}
	
#searchsuggestion table tr {

    width:100%;
    height:auto;
	float:none;
    background:#fff;

}
#searchsuggestion table tr td
 {   
    text-indent:5px;
    height:100%;
    width:238px;
	padding-bottom:6px;
    overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;

}

#searchsuggestion table tr td span 
 {   
    
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	float:none;
	margin-bottom:0px;
	font-weight:500;
}
	
		


.active{
    background:#E6E6E6;
}
	.topupper table
	{
		width:1024px;
	    float:none;	
	}
	
.topupper table tr{
	width:1024px; 
	height:30px;
	float:none;
	}
		
.topupper table th{
	width:332px;
	height:30px;
	float:left;
	background-image:none;
	
	}
	
.topupper table td{
    
	width:338px;
	height:30px;
	float:left;
	font-size:15px;
	padding-left:0px;
	padding-top:8px;

}
#search_q
{   width:200px;
	background-color: #808080;
	color:#000;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
    display:inline-block;
    padding: 4px 9px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    border:1px solid #151515;
	float:left;
	transition: width 0.2s ease 0s, background 0.2s ease 0s;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
	-webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
	text-shadow:none;
	text-indent:0px;
	-webkit-writing-mode: horizontal-tb;
	outline:none;
	}

#search_q:hover
{
	background-color: #dddcd7;
    color: #3b3835;
}

#search_q:focus
{   width:240px;
	background-color: rgb(221, 220, 215);
    color: rgb(59, 56, 53);
}	

#searchbutton
{
background:#000; 
background-image:;
border:0 solid; 
background-size:25px 25px; 
background-repeat:no-repeat;
width:40px;
height:40px;
cursor:pointer;
float:left;
margin-left:10px;
outline:none;
}

.searches
{
	overflow:hidden;
	webkit-appearance:none;
	
	
}@charset "utf-8";
/* CSS Document */


.topupper{
		width:1024px;
		height:32px;
		background-color: #000;
		font-size:16px ; 
		font-family:arial;
		margin:0px auto; 
		padding:0px; 
		color:#CCC;
		font-size:15px;
		font-weight:bold;
		}
		
	.topupper a
	{ 
	color:#999;
	text-decoration:none;
	margin-left:220px;
	
	}	
	
	.topupper a:hover
	{ 
	color:#fff;
	 
	}
	
	#searchsuggestion{

		display:none;
		background:#fff;
		position:absolute;
		top:31px;
		height:auto;
		width:238px;
		text-align:left;
	    border:solid 1px #CCC;	
		color:#000;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		cursor:pointer;
		
	}

	#searchsuggestion table
	{
		width:100%;  
	}
	
#searchsuggestion table tr {

    width:100%;
    height:auto;
	float:none;
    background:#fff;

}
#searchsuggestion table tr td
 {   
    text-indent:5px;
    height:100%;
    width:238px;
	padding-bottom:6px;
    overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;

}

#searchsuggestion table tr td span 
 {   
    
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	float:none;
	margin-bottom:0px;
	font-weight:500;
}
	
		


.active{
    background:#E6E6E6;
}
	.topupper table
	{
		width:1024px;
	    float:none;	
	}
	
.topupper table tr{
	width:1024px; 
	height:30px;
	float:none;
	}
		
.topupper table th{
	width:332px;
	height:30px;
	float:left;
	background-image:none;
	
	}
	
.topupper table td{
    
	width:338px;
	height:30px;
	float:left;
	font-size:15px;
	padding-left:0px;
	padding-top:8px;

}
#search_q
{   width:200px;
	background-color: #808080;
	color:#000;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
    display:inline-block;
    padding: 4px 9px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    border:1px solid #151515;
	float:left;
	transition: width 0.2s ease 0s, background 0.2s ease 0s;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
	-webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
	text-shadow:none;
	text-indent:0px;
	-webkit-writing-mode: horizontal-tb;
	outline:none;
	}

#search_q:hover
{
	background-color: #dddcd7;
    color: #3b3835;
}

#search_q:focus
{   width:240px;
	background-color: rgb(221, 220, 215);
    color: rgb(59, 56, 53);
}	

#searchbutton
{
background:#000; 
background-image:url(../img/searchbutton.png);
border:0 solid; 
background-size:25px 25px; 
background-repeat:no-repeat;
width:40px;
height:40px;
cursor:pointer;
float:left;
margin-left:10px;
outline:none;
}

.searches
{
	overflow:hidden;
	webkit-appearance:none;
	
	
}